name: CI

on: [push, pull_request]

jobs:
  ci:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Cache yarn cache
      uses: actions/cache@v1
      with:
        path: ~/.cache/yarn
        key: ${{ runner.os }}-yarn-${{ hashFiles(format('{0}{1}', github.workspace, '/yarn.lock')) }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - name: Install and build
      run: |
        yarn --frozen-lockfile
        yarn compile
      env:
        CI: true
    - name: Test
      uses: GabrielBB/xvfb-action@v1.2
      with:
        run: yarn test
    - name: Lint
      run: yarn lint
